version: '3.9'
services:
  frontend:
    image: patanindev/nignx-test
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - 80:80
      - 443:443
    volumes:
      - type: bind
        source: nginx.conf
        target: /etc/nginx/nginx.conf
        read_only: true
      - type: bind
        source: ./certificate
        target: /etc/nginx/ssl
        read_only: true